.navbar-style{
    background-color: #F8F7FE;
    box-shadow: 10px;
    .navbar_links>.nav-item{
        &:hover{
            background-color: #5F7ED9;
            color: white;
            border-radius: 20%;
        }
    }
    .navbarSupportedContent{
        width: 20% !important;
        background-color: black !important;
    }
}