<div
  class="W-100 position-fixed mobile-style d-none "
  style="bottom: 0px; z-index: 999; width: 100%"
>
  <div
    class="btn-group bg-white w-100 shadow-lg position-relative"
    role="group"
    aria-label="Basic radio toggle button group"
    style="border-top-right-radius:35px ;
    border-top-left-radius: 35px;"
  >
    <div class="position-absolute text-center" style="right: 44%;bottom: 10px;font-size: 10px;">
        <button class=" p-3 text-white" style="border-radius: 50%;font-size: 20px;background-color: #1C2140;">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <br>
        سبد خرید
    </div>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      checked
    />
    <label class="btn btn-outline-primary item item-margin p-3" style="border-top-right-radius:35px ;" for="btnradio1">
      <i class="fa-solid fa-house"></i>
      <br />
      خانه
    </label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary item item-margin mx-5 p-3" for="btnradio2">
      <i class="fa-solid fa-shop"></i>
      <br />
      فروشگاه
    </label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio3"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary item item-margin mx-5 p-3" for="btnradio3">
      <i class="fa-solid fa-blog"></i>
      <br />
      بلاگ
    </label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio4"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary item p-3" style="border-top-left-radius: 35px;" for="btnradio4">
      <i class="fa-solid fa-user"></i>
      <br />
      حساب کاربری
    </label>
  </div>
</div>
