<nav class="navbar navbar-style navbar-expand-lg w-100 border-bottom rounded shadow-sm">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar_links ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <img src="../img/Logos/GRC_Logo-removebg-preview.png" alt=""> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">فروشگاه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">وبلاگ</a>
                </li>
            </ul>
        </div>
        <input type="text">
        <a href="#"> <small>حساب کاربری</small> </a>
    </div>
</nav>

